{
  "extends": "next",
  "root": true,
  "globals": {
    "document": true,
    "window": true,
    "localStorage": true
  },
  "rules": {
    "template-curly-spacing" : "off",
    "react/no-unescaped-entities": "off",
    "@next/next/no-page-custom-font": "off",
    "@next/next/no-document-import-in-page": "off",
    "indent": ["error", 2, {
      "ignoredNodes": ["TemplateLiteral"]
    }]
  }
}
